.sectionTwelve{
    height:400px;
    width: 100%;
    /* border:1px solid black; */
    display: flex;
    justify-content: center;
    /* background-color: aliceblue; */
}
.designContainer{
    height: inherit;
    width:80%;
    /* border:1px solid black; */
    display: flex;
    justify-content: center;
}
.designContainer img{
    height:99%;
}